# Synthetic data generation
faker>=22.0.0
fpdf2>=2.8.0
Pillow>=10.0.0
lightgbm
optuna
# Feature engineering & serving
databricks-feature-engineering>=0.13.0a8
# SDK & monitoring
databricks-sdk >= 0.68.0
# Environment
dotenv
mlflow-skinny>=3.6.0